
/* -- Html element -- */

html{
    min-width: 100vw;
    min-height: 100vh;
}

/* -- Html element -- */

/* -- Body -- */

body{
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;

    margin: 0;
    padding: 1.25rem;
}

/* -- Body -- */




/* -- Main -- */

#main{
    padding: 1.25rem;
    border-style: solid;
    border-radius: 1.25rem;
    box-sizing: border-box;

    height: calc(100vh - 2.5rem);
}

/* -- Main -- */




/* -- Header -- */


header{
    display: flex;
    width: 100%;
    height: 3.5rem;
    padding: 0.75rem;

    flex-direction: row;

    margin-bottom: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    border-radius: 1.25rem;
}


#logo{
    float: left;
    display: inline;
    margin-right: 1rem;
}


#gh-btn{
    overflow: hidden;

    #gh-btn-ico{
        display: inline;
        width: 2rem;
        height: 2rem;
    }
}


#search-form{
    flex: 1;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#query{
    flex: 1;
    outline: none;
    width: 1rem;
    height: 2rem;
    padding: 0;
    font-size: 2rem;
    border: none;
}
#query::-webkit-input-placeholder{
    text-decoration: underline;
}

#search-btn{
    border: none;
    /* background: none; */
    cursor: pointer;
    padding: 0.25rem;

    #search-btn-ico{
        height: 1.5rem;
    }
}


/* -- Header -- */




/* -- Cards -- */


#results-container{
    display: flex;
    flex-direction: column;
}

.result-card{
    display: inline-flex;
    flex-direction: row;
    height: 11.55rem;
    
    a { text-decoration: none; }

    &:not(:last-child){
        margin-bottom: 0.3rem;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }


    .card-left{
        display: inline-flex;
        flex-direction: column;
        margin-right: 0.5rem;

        .card-poster{
            object-fit: contain;
            height: 10rem;
            width: min-content;
        }

        .card-left-under{
            display: inline-flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            .card-mal-score, .card-year{
                font-weight: bold;
                line-height: 1rem;
                font-size: 1rem;
            }
            .card-mal-score::before{
                content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 9.625' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 8.273,0.06 V 8.483 L 6.17,8.48 V 3.264 L 4.14,5.668 2.151,3.21 2.131,8.495 H 0.001 L 0,0.06 H 2.203 L 4.068,2.605 6.083,0.059 Z m 8.628,2.069 0.025,6.335 H 14.561 L 14.553,5.593 h -2.8 c 0.07,0.499 0.21,1.266 0.417,1.779 0.155,0.381 0.298,0.751 0.583,1.128 L 11.048,9.625 C 10.699,8.989 10.426,8.288 10.17,7.543 A 9.296,9.296 0 0 1 9.663,5.364 C 9.578,4.614 9.566,3.893 9.77,3.152 a 3.908,3.908 0 0 1 1.161,-1.866 c 0.313,-0.293 0.749,-0.5 1.1,-0.687 0.351,-0.187 0.743,-0.264 1.107,-0.359 a 7.405,7.405 0 0 1 1.191,-0.183 c 0.398,-0.034 1.107,-0.066 2.39,-0.028 l 0.545,1.749 H 14.51 c -0.593,0.008 -0.878,10e-4 -1.341,0.209 a 2.236,2.236 0 0 0 -1.278,1.92 l 2.663,0.033 0.038,-1.81 h 2.309 z M 20.893,0.03 V 6.657 L 24,6.689 23.57,8.464 H 18.763 V 0 Z' fill='%232e51a2' /%3E%3C/svg%3E%0A");
                display: inline-block;
                height: 0.7rem;
                width: 2.3rem;
                vertical-align: middle;
                margin-top: -0.3rem;
            }
        }
    }

    .card-details{
        display: inline-flex;
        flex-direction: column;
        justify-content: start;
        height: 11rem;

        * {margin: 0;}

        .card-title{
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.2rem;
        }

        .card-other-titles-container{
            margin-bottom: 0.1rem;

            .card-other-titles-label{
                font-weight: 600;
            }
        }

        .card-synopsis{
            overflow-y: auto;
            font-size: 1rem;
        }
    }

}


/* -- Cards -- */